<!DOCTYPE html>
<html>
<head>
    <title>Fraud Detector 🚨💳</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>🚨 Fraud Detector 💳</h2>
    <a href="/predict">New Prediction</a>
</div>

<div class="container">
    <div class="card center">
        <h1>Online Payment Fraud Detection</h1>
        <p>
            A real-time Machine Learning system to identify
            suspicious and fraudulent online payment transactions.
        </p>

        <a href="/predict">
            <button>Start Detection</button>
        </a>
    </div>
</div>

</body>
</html>
